---
const { id } = Astro.params;
import DotsButton from "../../components/DotsButton.astro";
import EventAddress from "../../components/EventAddress.astro";
import LikeButton from "../../components/LikeButton.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { events } from "../../lib/data";
import PageFooter from "../../components/PageFooter.astro";
import { DiscordLink } from "../../lib/links";

export function getStaticPaths() {
  return events.map((event) => ({
    params: {
      id: event.id,
    },
    allEvents: events,
  }));
}

const event = events.find((event) => event.id === id);
---

<Layout image={event?.cover} title={event?.title || "404"}>
  <div
    class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden"
    transition:name=`playlist ${event?.id} box`
  >
    <PageHeader />

    <div class="min-h-[calc(100vh-72px)]">
      <div
        class="relative h-[25vh]"
        transition:name=`playlist ${event?.id} image`
      >
        <div class="relative w-full h-full">
          <img
            src={event?.cover}
            alt={event?.title}
            class="object-cover h-full w-full"
            transition:name=`playlist ${event?.id} image`
          />
          <div
            class="absolute inset-0 bg-gradient-to-t from-zinc-900/100 from-5%"
          >
          </div>
        </div>
        <div
          class="absolute inset-0 flex flex-col space-y-3 justify-end md:px-12 px-4"
        >
          <div>
            <h1 class="title-clamp font-bold block">
              {event?.title}
            </h1>
          </div>
          <div class="flex">
            <div class="text-md">
              <div class="mt-1">
                <span class="font-semibold"> {event?.date}</span>
                {
                  event?.isDateTentative && (
                    <span class="text-gray-400"> (Tentative)</span>
                  )
                }
              </div>
            </div>
          </div>

          <div>
            <a
              href={event?.registrationLink}
              class="bg-customYellow text-black py-2 px-6 hover:bg-customYellowHover rounded-md"
              >Register Now</a
            >
          </div>
        </div>
      </div>

      <div class="bg-zinc-900/30 mt-6 flex-1 p-0 pb-4 md:p-6 blur-100">
        <div class="px-6 pt-4">
          <div class="space-y-6">
            <div>
              <h3 class="text-2xl font-semibold mb-2">Overview:</h3>
              <p class="text-gray-400">
                {event?.description}
              </p>
            </div>

            {
              event?.eventHighlights && (
                <div>
                  <h3 class="text-2xl font-semibold mb-2">Event Highlights:</h3>
                  <ul class="list-disc list-inside text-gray-400">
                    {event.eventHighlights.map((highlight) => (
                      <li>{highlight}</li>
                    ))}
                  </ul>
                </div>
              )
            }

            <div>
              <h3 class="text-2xl font-semibold mb-2">
                Additional Information:
              </h3>
              <ul class="list-disc list-inside text-gray-400">
                <li>
                  <span class="font-bold">Parking:</span> Available on-site with
                  easy access to the venue.
                </li>
                <li>
                  <span class="font-bold">Accessibility:</span> The event is accessible
                  to all, with special arrangements for individuals with disabilities.
                </li>
                <li>
                  <span class="font-bold">Security:</span> Enhanced security measures
                  will be in place to ensure the safety and well-being of all attendees.
                </li>
              </ul>
            </div>

            {
              event?.patrons && (
                <div>
                  <h3 class="text-2xl font-semibold mb-2">Patrons:</h3>
                  <ul class="list-disc list-inside text-gray-400">
                    {event.patrons.map((patron) => (
                      <li>
                        {patron.name} - ${patron.amount}
                      </li>
                    ))}
                  </ul>
                </div>
              )
            }

            {
              event?.sponsors && (
                <div>
                  <h3 class="text-2xl font-semibold mb-2">Sponsors:</h3>
                  <div class="flex flex-wrap gap-4">
                    {event.sponsors.map((sponsor) => (
                      <div class="flex flex-col items-center space-y-2 border border-slate-700 p-4 rounded-md bg-slate-900">
                        <h4 class="text-gray-200 text-lg">{sponsor.name}</h4>
                        <img
                          src={sponsor.logo}
                          alt={sponsor.name}
                          class="h-12"
                        />
                      </div>
                    ))}
                  </div>
                </div>
              )
            }

            <div>
              <h3 class="text-2xl font-semibold mb-2">Contact:</h3>
              <p class="text-gray-400">
                For more information, visit our <a
                  class="text-blue-400 underline"
                  href="/join">discord server</a
                >.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b"
        style=`--context-color:${event?.color.accent}`
      >
        <div
          class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
        >
        </div>
      </div>
    </div>

    <PageFooter />
  </div>
</Layout>

<style>
  .title-clamp {
    font-size: clamp(20px, 6vw, 70px);
    line-height: 1;
  }
</style>
